In [178]:
import pandas as pd
import requests
from ipywidgets import IntProgress
from IPython.display import display
import time

In [83]:
houses = pd.read_csv('../raw_data/scrapped_houses.csv')
characters = pd.read_csv('../raw_data/scrapped_characters.csv')
character_predictions = pd.read_csv('../raw_data/character-predictions.csv')
dead = pd.read_excel('../raw_data/only_dead.xlsx', header=1)

In [84]:
houses.columns # Name, Region

Index(['Name', 'Region', 'Coat of Arms', 'Words', 'Titles', 'Seats',
       'Current Lord', 'Heir', 'Overlord', 'Founded', 'Founder', 'Died Out',
       'Ancestral Weapons', 'Cadet Branches', 'Sworn Members', 'URL'],
      dtype='object')

In [85]:
houses = houses[['Name', 'Region']]

In [86]:
characters.columns # Culture, Allegiances

Index(['Name', 'Culture', 'Born', 'Died', 'Titles', 'Aliases', 'Father',
       'Mother', 'Spouse', 'Allegiances', 'Books', 'POV Books', 'TV Series',
       'Played By', 'URL'],
      dtype='object')

In [87]:
characters = characters[['Culture', 'Allegiances']]

In [88]:
character_predictions.columns # culture, house

Index(['S.No', 'actual', 'pred', 'alive', 'plod', 'name', 'title', 'male',
       'culture', 'dateOfBirth', 'DateoFdeath', 'mother', 'father', 'heir',
       'house', 'spouse', 'book1', 'book2', 'book3', 'book4', 'book5',
       'isAliveMother', 'isAliveFather', 'isAliveHeir', 'isAliveSpouse',
       'isMarried', 'isNoble', 'age', 'numDeadRelations', 'boolDeadRelations',
       'isPopular', 'popularity', 'isAlive'],
      dtype='object')

In [89]:
character_predictions = character_predictions[['culture', 'house']]

In [90]:
dead.columns # Allegiance

Index(['Allegiance', 'Death No.', 'Episode', 'Killer', 'Killers House',
       'Location', 'Method', 'Name', 'Season'],
      dtype='object')

In [91]:
dead = dead[['Allegiance']]

In [92]:
houses[['Region']].value_counts()

Region
The Reach          72
The North          61
The Westerlands    55
The Riverlands     52
The Crownlands     49
Iron Islands       38
The Stormlands     38
The Vale           35
Dorne              29
The Neck            7
Beyond the Wall     1
None                1
dtype: int64

In [93]:
#houses[houses['Region'] == 'The Vale']['Name'].value_counts()

In [95]:
characters['Culture'].value_counts()

Northmen                   137
Ironborn                   127
Free Folk                   70
Valyrian                    57
Braavosi                    46
Dornish                     42
Ghiscari                    35
Dothraki                    23
Rivermen                    22
Valemen                     20
Reach                       16
Westeros                    14
Westerman                   14
Stormlands                  10
Mountain clans               9
Tyroshi                      9
Lysene                       8
First Men                    8
Northern mountain clans      8
Andal                        8
Qartheen                     7
Summer Isles                 7
Myrish                       5
Free folk                    5
Astapori                     5
Pentoshi                     4
Meereenese                   4
Crannogmen                   4
Asshai                       3
Sistermen                    3
Norvoshi                     3
Lhazareen                    3
Rhoynar                      2
Ibbenese                     2
Qohor                        2
Thenn                        1
Westerlands                  1
Naathi                       1
Name: Culture, dtype: int64

In [128]:
mylist = []
for i in characters['Allegiances']:
    j = i.strip('[]')
    if j:
        k = j.replace("https://www.anapioficeandfire.com/api/houses/", '').\
              replace(' ', '').replace("'", '')
        if ',' in k:
            for l in k.split(','):
                mylist.append(int(l))
        else:
            mylist.append(int(k))

In [217]:
lords = pd.DataFrame(set(sorted(mylist)), columns=['house'])
lords['overlord'] = 0
lords['ol_name'] = ''

In [218]:
lords

     house  overlord ol_name
0        2         0
1        4         0
2        7         0
3        8         0
4       10         0
..     ...       ...     ...
292    439         0
293    440         0
294    441         0
295    443         0
296    444         0

[297 rows x 3 columns]

In [219]:
url = "https://www.anapioficeandfire.com/api/houses/"

In [220]:
f = IntProgress(min=0, max=len(lords)) # instantiate the bar
display(f) # display the bar

for row in range(len(lords)):
    f.value += 1
    i = lords.loc[row, 'house']
    h = requests.get(f"{url}{i}").json()
    ol = h['overlord'].strip("https://www.anapioficeandfire.com/api/houses/")
    if i == 16:
        lords.loc[row, 'overlord'] = 16
        lords.loc[row, 'ol_name'] = h['name']
    elif ol == '16':
        lords.loc[row, 'overlord'] = lords.loc[row, 'house']
        lords.loc[row, 'ol_name'] = h['name']
    else:
        lords.loc[row, 'overlord'] = ol
        if ol != '':
            over = requests.get(f"{url}{int(ol)}").json()
            lords.loc[row, 'ol_name'] = over['name']
        #print(row)

IntProgress(value=0, max=297)

In [221]:
lords[(lords['ol_name'] == 'House Yronwood of Yronwood')]

    house overlord                     ol_name
73    104      444  House Yronwood of Yronwood

In [190]:
test = requests.get(f"{url}{444}").json()

In [194]:
ol = test['overlord'].strip("https://www.anapioficeandfire.com/api/houses/")
ol

'285'

In [195]:
over = requests.get(f"{url}{int(ol)}").json()

In [196]:
over['name']

'House Nymeros Martell of Sunspear'

In [222]:
f = IntProgress(min=0, max=len(lords)) # instantiate the bar
display(f) # display the bar

for row in range(len(lords)):
    f.value += 1
    i = lords.loc[row, 'overlord']
    if i == '':
        continue
    h = requests.get(f"{url}{i}").json()
    ol = h['overlord'].strip("https://www.anapioficeandfire.com/api/houses/")
    if i == 16:
        lords.loc[row, 'overlord'] = 16
        lords.loc[row, 'ol_name'] = h['name']
    elif ol == '16':
        lords.loc[row, 'overlord'] = lords.loc[row, 'overlord']
        lords.loc[row, 'ol_name'] = h['name']
    else:
        lords.loc[row, 'overlord'] = ol
        if ol != '':
            over = requests.get(f"{url}{int(ol)}").json()
            lords.loc[row, 'ol_name'] = over['name']
        #print(row)

IntProgress(value=0, max=297)

In [223]:
row

296

In [233]:
print(lords.to_string())

     house overlord                            ol_name
0        2      285  House Nymeros Martell of Sunspear
1        4      398         House Tyrell of Highgarden
2        7        7           House Arryn of the Eyrie
3        8      398         House Tyrell of Highgarden
4       10       10         House Baelish of Harrenhal
5       11        7           House Arryn of the Eyrie
6       12      398         House Tyrell of Highgarden
7       13      229   House Lannister of Casterly Rock
8       14       15     House Baratheon of Dragonstone
9       15       15     House Baratheon of Dragonstone
10      16       16  House Baratheon of King's Landing
11      17       17     House Baratheon of Storm's End
12      18      398         House Tyrell of Highgarden
13      19        7           House Arryn of the Eyrie
14      20      229   House Lannister of Casterly Rock
15      22      398         House Tyrell of Highgarden
16      23           House Targaryen of King's Landing
17      24      285  House Nymeros Martell of Sunspear
18      26      169              House Greyjoy of Pyke
19      27       10         House Baelish of Harrenhal
20      28      362          House Stark of Winterfell
21      29       29                       House Blount
22      31       31     House Boggs of Crackclaw Point
23      33       17     House Baratheon of Storm's End
24      34       34      House Bolton of the Dreadfort
25      35        7           House Arryn of the Eyrie
26      36      169              House Greyjoy of Pyke
27      37       10         House Baelish of Harrenhal
28      40      229   House Lannister of Casterly Rock
29      46      229   House Lannister of Casterly Rock
30      48       48         House Brune of Brownhollow
31      49       49        House Brune of the Dyre Den
32      50       17     House Baratheon of Storm's End
33      51       51      House Buckwell of the Antlers
34      52      398         House Tyrell of Highgarden
35      54      398         House Tyrell of Highgarden
36      55       10         House Baelish of Harrenhal
37      56       56                        House Byrch
38      57       57                      House Bywater
39      58       17     House Baratheon of Storm's End
40      60       15     House Baratheon of Dragonstone
41      61      362          House Stark of Winterfell
42      62
43      63      398         House Tyrell of Highgarden
44      65       65        House Celtigar of Claw Isle
45      66       34      House Bolton of the Dreadfort
46      68       10         House Baelish of Harrenhal
47      69       69                     House Chelsted
48      70      398         House Tyrell of Highgarden
49      71       71                   House Chyttering
50      72      229   House Lannister of Casterly Rock
51      73      229   House Lannister of Casterly Rock
52      74      398         House Tyrell of Highgarden
53      75      169              House Greyjoy of Pyke
54      76        7           House Arryn of the Eyrie
55      77
56      78       34      House Bolton of the Dreadfort
57      79      398         House Tyrell of Highgarden
58      80       17     House Baratheon of Storm's End
59      81        7           House Arryn of the Eyrie
60      83      398         House Tyrell of Highgarden
61      84      362          House Stark of Winterfell
62      85       85                        House Crabb
63      86      229   House Lannister of Casterly Rock
64      87      398         House Tyrell of Highgarden
65      91      398         House Tyrell of Highgarden
66      92      285  House Nymeros Martell of Sunspear
67      95           House Targaryen of King's Landing
68      97       10         House Baelish of Harrenhal
69      98      285  House Nymeros Martell of Sunspear
70      99      285  House Nymeros Martell of Sunspear
71     100       10         House Baelish of Harrenhal
72     102       17     House Baratheon of Storm's End
73     104      285  House Nymeros Martell of Sunspear
74     106      169              House Greyjoy of Pyke
75     109
76     111       34      House Bolton of the Dreadfort
77     113        7           House Arryn of the Eyrie
78     115       10         House Baelish of Harrenhal
79     116       17     House Baratheon of Storm's End
80     117      117      House Estermont of Greenstone
81     118      229   House Lannister of Casterly Rock
82     120      229   House Lannister of Casterly Rock
83     121       15     House Baratheon of Dragonstone
84     122      169              House Greyjoy of Pyke
85     123      169              House Greyjoy of Pyke
86     124       17     House Baratheon of Storm's End
87     129      362          House Stark of Winterfell
88     131       34      House Bolton of the Dreadfort
89     132       34      House Bolton of the Dreadfort
90     133       15     House Baratheon of Dragonstone
91     135      229   House Lannister of Casterly Rock
92     136      136           House Foote of Nightsong
93     139      398         House Tyrell of Highgarden
94     140      398         House Tyrell of Highgarden
95     141      285  House Nymeros Martell of Sunspear
96     142       10         House Baelish of Harrenhal
97     143       10         House Baelish of Harrenhal
98     145
99     146      285  House Nymeros Martell of Sunspear
100    148      148                        House Gaunt
101    150      362          House Stark of Winterfell
102    151       10         House Baelish of Harrenhal
103    155      169              House Greyjoy of Pyke
104    157      169              House Greyjoy of Pyke
105    158       17     House Baratheon of Storm's End
106    159      398         House Tyrell of Highgarden
107    160        7           House Arryn of the Eyrie
108    161       17     House Baratheon of Storm's End
109    163      229   House Lannister of Casterly Rock
110    166      362          House Stark of Winterfell
111    169      169              House Greyjoy of Pyke
112    171      398         House Tyrell of Highgarden
113    172       10         House Baelish of Harrenhal
114    174       34      House Bolton of the Dreadfort
115    175      175                        House Hardy
116    176        7           House Arryn of the Eyrie
117    177      169              House Greyjoy of Pyke
118    178      169              House Greyjoy of Pyke
119    179      169              House Greyjoy of Pyke
120    180      169              House Greyjoy of Pyke
121    181      169              House Greyjoy of Pyke
122    185      398         House Tyrell of Highgarden
123    186       17     House Baratheon of Storm's End
124    187       10         House Baelish of Harrenhal
125    189      189           House Hayford of Hayford
126    190       10         House Baelish of Harrenhal
127    193      229   House Lannister of Casterly Rock
128    194      398         House Tyrell of Highgarden
129    195      398         House Tyrell of Highgarden
130    196
131    197      189           House Hayford of Hayford
132    198      378  House Targaryen of King's Landing
133    202      362          House Stark of Winterfell
134    203       17     House Baratheon of Storm's End
135    205      169              House Greyjoy of Pyke
136    206      398         House Tyrell of Highgarden
137    207        7           House Arryn of the Eyrie
138    209      398         House Tyrell of Highgarden
139    210      169              House Greyjoy of Pyke
140    212      229   House Lannister of Casterly Rock
141    213      285  House Nymeros Martell of Sunspear
142    215       34      House Bolton of the Dreadfort
143    218      169              House Greyjoy of Pyke
144    219      229   House Lannister of Casterly Rock
145    220      220                  House Kettleblack
146    223      229   House Lannister of Casterly Rock
147    229      229   House Lannister of Casterly Rock
148    230       10         House Baelish of Harrenhal
149    231      229   House Lannister of Casterly Rock
150    234      229   House Lannister of Casterly Rock
151    235      398         House Tyrell of Highgarden
152    236      362          House Stark of Winterfell
153    239       34      House Bolton of the Dreadfort
154    242        7           House Arryn of the Eyrie
155    243      243                   House Longwaters
156    244       17     House Baratheon of Storm's End
157    245      229   House Lannister of Casterly Rock
158    246      362          House Stark of Winterfell
159    249       10         House Baelish of Harrenhal
160    250      229   House Lannister of Casterly Rock
161    251        7           House Arryn of the Eyrie
162    253      253                      House Mallery
163    254       10         House Baelish of Harrenhal
164    255       34      House Bolton of the Dreadfort
165    257      285  House Nymeros Martell of Sunspear
166    258      229   House Lannister of Casterly Rock
167    260      260         House Massey of Stonedance
168    261       17     House Baratheon of Storm's End
169    263      169              House Greyjoy of Pyke
170    264      398         House Tyrell of Highgarden
171    265       17     House Baratheon of Storm's End
172    267      362          House Stark of Winterfell
173    268        7           House Arryn of the Eyrie
174    269       10         House Baelish of Harrenhal
175    270      229   House Lannister of Casterly Rock
176    271      362          House Stark of Winterfell
177    272       17     House Baratheon of Storm's End
178    274
179    275      398         House Tyrell of Highgarden
180    276       17     House Baratheon of Storm's End
181    278      169              House Greyjoy of Pyke
182    279       10         House Baelish of Harrenhal
183    281      398         House Tyrell of Highgarden
184    282      362          House Stark of Winterfell
185    283      398         House Tyrell of Highgarden
186    285      285  House Nymeros Martell of Sunspear
187    286      398         House Tyrell of Highgarden
188    291      398         House Tyrell of Highgarden
189    293       10         House Baelish of Harrenhal
190    295      229   House Lannister of Casterly Rock
191    296      398         House Tyrell of Highgarden
192    297       15     House Baratheon of Dragonstone
193    299      229   House Lannister of Casterly Rock
194    300       17     House Baratheon of Storm's End
195    302       10         House Baelish of Harrenhal
196    303      229   House Lannister of Casterly Rock
197    305       34      House Bolton of the Dreadfort
198    306      229   House Lannister of Casterly Rock
199    310      362          House Stark of Winterfell
200    311      285  House Nymeros Martell of Sunspear
201    313       15     House Baratheon of Dragonstone
202    314       15     House Baratheon of Dragonstone
203    316        7           House Arryn of the Eyrie
204    317      398         House Tyrell of Highgarden
205    318      362          House Stark of Winterfell
206    319      229   House Lannister of Casterly Rock
207    320      398         House Tyrell of Highgarden
208    321      398         House Tyrell of Highgarden
209    324       10         House Baelish of Harrenhal
210    325      325               House Rosby of Rosby
211    326      398         House Tyrell of Highgarden
212    328        7           House Arryn of the Eyrie
213    329        7           House Arryn of the Eyrie
214    331      229   House Lannister of Casterly Rock
215    333       10         House Baelish of Harrenhal
216    334      334         House Rykker of Duskendale
217    335       34      House Bolton of the Dreadfort
218    336      169              House Greyjoy of Pyke
219    337      285  House Nymeros Martell of Sunspear
220    338      229   House Lannister of Casterly Rock
221    340       15     House Baratheon of Dragonstone
222    341       17     House Baratheon of Storm's End
223    343      398         House Tyrell of Highgarden
224    344      169              House Greyjoy of Pyke
225    348      169              House Greyjoy of Pyke
226    350        7           House Arryn of the Eyrie
227    352       34      House Bolton of the Dreadfort
228    354      354           House Slynt of Harrenhal
229    355       10         House Baelish of Harrenhal
230    356      169              House Greyjoy of Pyke
231    357      229   House Lannister of Casterly Rock
232    359      229   House Lannister of Casterly Rock
233    360       17     House Baratheon of Storm's End
234    362      362          House Stark of Winterfell
235    363       15     House Baratheon of Dragonstone
236    364      364     House Stokeworth of Stokeworth
237    365      169              House Greyjoy of Pyke
238    366      169              House Greyjoy of Pyke
239    367       34      House Bolton of the Dreadfort
240    368
241    369      362          House Stark of Winterfell
242    370        7           House Arryn of the Eyrie
243    372       15     House Baratheon of Dragonstone
244    373       17     House Baratheon of Storm's End
245    374      229   House Lannister of Casterly Rock
246    376       34      House Bolton of the Dreadfort
247    377      229   House Lannister of Casterly Rock
248    378
249    379      398         House Tyrell of Highgarden
250    380       17     House Baratheon of Storm's End
251    381      169              House Greyjoy of Pyke
252    383        7           House Arryn of the Eyrie
253    385
254    386      386                       House Thorne
255    387      285  House Nymeros Martell of Sunspear
256    388        7           House Arryn of the Eyrie
257    389        7           House Arryn of the Eyrie
258    392       17     House Baratheon of Storm's End
259    393       17     House Baratheon of Storm's End
260    395      362          House Stark of Winterfell
261    396      229   House Lannister of Casterly Rock
262    397      398         House Tyrell of Highgarden
263    398      398         House Tyrell of Highgarden
264    399      398         House Tyrell of Highgarden
265    400      285  House Nymeros Martell of Sunspear
266    401      362          House Stark of Winterfell
267    403      285  House Nymeros Martell of Sunspear
268    404       10         House Baelish of Harrenhal
269    405       10         House Baelish of Harrenhal
270    406      398         House Tyrell of Highgarden
271    407       15     House Baratheon of Dragonstone
272    408      229   House Lannister of Casterly Rock
273    409      169              House Greyjoy of Pyke
274    410       10         House Baelish of Harrenhal
275    411      398         House Tyrell of Highgarden
276    413       17     House Baratheon of Storm's End
277    415        7           House Arryn of the Eyrie
278    416      362          House Stark of Winterfell
279    417        7           House Arryn of the Eyrie
280    418
281    419      398         House Tyrell of Highgarden
282    420      285  House Nymeros Martell of Sunspear
283    421       34      House Bolton of the Dreadfort
284    425      229   House Lannister of Casterly Rock
285    427      362          House Stark of Winterfell
286    429      398         House Tyrell of Highgarden
287    430       10         House Baelish of Harrenhal
288    432      362          House Stark of Winterfell
289    434       34      House Bolton of the Dreadfort
290    435      362          House Stark of Winterfell
291    438       17     House Baratheon of Storm's End
292    439      169              House Greyjoy of Pyke
293    440      398         House Tyrell of Highgarden
294    441      229   House Lannister of Casterly Rock
295    443      229   House Lannister of Casterly Rock
296    444      285  House Nymeros Martell of Sunspear

In [239]:
lords[['ol_name', 'overlord']].value_counts()

ol_name                            overlord
House Tyrell of Highgarden         398         44
House Lannister of Casterly Rock   229         37
House Baelish of Harrenhal         10          27
House Greyjoy of Pyke              169         27
House Baratheon of Storm's End     17          25
House Arryn of the Eyrie           7           22
House Stark of Winterfell          362         21
House Nymeros Martell of Sunspear  285         17
House Bolton of the Dreadfort      34          16
House Baratheon of Dragonstone     15          11
                                               10
House Targaryen of King's Landing               2
House Boggs of Crackclaw Point     31           1
House Rykker of Duskendale         334          1
House Baratheon of King's Landing  16           1
House Longwaters                   243          1
House Mallery                      253          1
House Massey of Stonedance         260          1
House Nymeros Martell of Sunspear  285          1
House Baratheon of Dragonstone     15           1
House Rosby of Rosby               325          1
House Slynt of Harrenhal           354          1
House Kettleblack                  220          1
House Stark of Winterfell          362          1
House Baelish of Harrenhal         10           1
House Stokeworth of Stokeworth     364          1
House Targaryen of King's Landing  378          1
House Thorne                       386          1
House Tyrell of Highgarden         398          1
House Lannister of Casterly Rock   229          1
House Hayford of Hayford           189          1
House Bolton of the Dreadfort      34           1
House Chelsted                     69           1
House Blount                       29           1
House Brune of Brownhollow         48           1
House Brune of the Dyre Den        49           1
House Buckwell of the Antlers      51           1
House Byrch                        56           1
House Bywater                      57           1
House Celtigar of Claw Isle        65           1
House Chyttering                   71           1
House Hayford of Hayford           189          1
House Crabb                        85           1
House Estermont of Greenstone      117          1
House Foote of Nightsong           136          1
House Arryn of the Eyrie           7            1
House Greyjoy of Pyke              169          1
House Baratheon of Storm's End     17           1
House Hardy                        175          1
House Gaunt                        148          1
dtype: int64

In [249]:
great_houses = lords[['ol_name']].drop_duplicates().reset_index(drop=True)

In [259]:
i = -1

In [299]:
i += 1
#great_houses.loc[i]

In [453]:
character_predictions = pd.read_csv('../raw_data/character-predictions.csv')
character_predictions = character_predictions[['culture', 'house']]

In [454]:
character_predictions['house'].value_counts()

Night's Watch      105
House Frey          97
House Stark         72
House Targaryen     62
House Lannister     49
                  ...
House Gower          1
House Borrell        1
Citadel              1
Wise Masters         1
Three-eyed crow      1
Name: house, Length: 347, dtype: int64

In [455]:
character_predictions['culture']

0            NaN
1       Rivermen
2            NaN
3            NaN
4        Dornish
          ...
1941    Westeros
1942         NaN
1943         NaN
1944         NaN
1945         NaN
Name: culture, Length: 1946, dtype: object

In [456]:
only_houses = character_predictions[['house']].drop_duplicates().dropna().reset_index(drop=True)

In [457]:
only_houses['house_num'] = 0
only_houses['overlord'] = ''
only_houses['overlord_num'] = 0

In [458]:
origins = []
for house in only_houses['house']:
    if 'House' not in house:
        origins.append(house)

In [459]:
i = -1

In [460]:
i += 1
#origins[i]

In [461]:
i

0

In [462]:
# for page in range(375, 379): #445
#     house = requests.get(f"{url}{page}").json()
#     print(f"\nhouse: {house['name']}")
#     for test in only_houses['house'].loc[0:6]:
#         print(test)
#         if test in house['name']:
#             print(house['url'].strip("https://www.anapioficeandfire.com/api/houses/"))

In [463]:
# for hi in only_houses['house'].loc[0:6]:
#     print(hi)

In [464]:
origins

["Night's Watch",
 'Brotherhood Without Banners',
 'Happy Port',
 'Kingswood Brotherhood',
 'Burned Men',
 'wildling',
 'Kingdom of the Three Daughters',
 'Drowned men',
 'Stormcrows',
 'Antler Men',
 'Peach',
 'Stone Crows',
 'Sea watch',
 'Second Sons',
 'Moon Brothers',
 'Faceless Men',
 'Brave Companions',
 'Band of Nine',
 "Alchemists' Guild",
 'Black Ears',
 'Faith of the Seven',
 'Pureborn',
 "R'hllor",
 'Kingsguard',
 "Chataya's brothel",
 'Brotherhood without banners',
 'Windblown',
 'Queensguard',
 "City Watch of King's Landing",
 'Blacks',
 'Citadel',
 'Wise Masters',
 'Good Masters',
 'The Citadel',
 'Iron Bank of Braavos',
 'Maesters',
 'Golden Company',
 'Company of the Cat',
 'Khal',
 'Summer Islands',
 'Undying Ones',
 'Thenn',
 'Graces',
 'Unsullied',
 'Brotherhood without Banners',
 'Mance Rayder',
 'Thirteen',
 'brotherhood without banners',
 'Three-eyed crow']

In [465]:
for i in only_houses['house']:
    print(i)

House Frey
House Swyft
House Arryn
House Santagar
House Targaryen
House Osgrey
Night's Watch
House Humble
House Wylde
House Wode
House Fell
Brotherhood Without Banners
House Webber
House Greyjoy
House Stark
House Waynwood
House Dayne
House Manderly
House Farwynd of the Lonely Light
Happy Port
House of Loraq
Kingswood Brotherhood
House Botley
Burned Men
House Velaryon
House Tallhart
House Tyrell
House Blackwood
House Blackfyre
wildling
Kingdom of the Three Daughters
House Royce of the Gates of the Moon
House Nayland
House Vance of Wayfarer's Rest
House Rowan
House Farrow
House Lonmouth
House Reyne
House Ashford
House Brax
House Paege
House Hollard
House Tarth
House Ryswell
House Lannister
House Crakehall
House Darklyn
House Westerling
House Weaver
House Connington
House Stout
House Harclay
House Drumm
House Lannister of Lannisport
House Crabb
Drowned men
Stormcrows
Antler Men
House Spicer
House Staunton
House Stonetree
House Leygood
House Bolton
House Sparr
House Fossoway of Cider Hall
House Varner
House Tarly
Peach
House Lynderly
House Ironmaker
House Martell
House Clegane
House Costayne
House Heddle
Stone Crows
House Ryger
Sea watch
Second Sons
Moon Brothers
House Baelish
Faceless Men
Brave Companions
House Frey of Riverrun
House Stokeworth
House Hightower
Band of Nine
House Oakheart
House Sharp
House Hunt
House Bracken
House Whent
House Dalt
House Charlton
House Butterwell
House Qorgyle
House Ambrose
Alchemists' Guild
House Bushy
House Blacktyde
House Beesbury
House Baratheon
House Bulwer
House Cafferen
House Smallwood
House Payne
House Buckler
House Tully
Black Ears
House Caswell
House Conklyn
House Greenhill
House Karstark
House Redfort
House Baratheon of Dragonstone
House Deddings
House Slynt
House Plumm
House Redwyne
House Manwoody
House Harlaw
House Risley
Faith of the Seven
Pureborn
House Codd
House Willum
House of Galare
R'hllor
House Morrigen
House Corbray
House Gaunt
House Goodbrother
Kingsguard
House Grafton
House Hornwood
House Grandison
House Sawyer
House Uffering
House Bolling
House Clifton
House Blackberry
Chataya's brothel
House Norcross
House Mallister
House Fossoway of New Barrel
House Swann
House Cupps
House Penny
House Penrose
House Umber
House Vance of Atranta
Brotherhood without banners
House Royce
House Tawney
Windblown
House Piper
House Serry
House Lorch
House Lefford
House Strong
House Roote
House Hardy
Queensguard
House Meadows
House Dondarrion
House Lothston
House Yew
House Mullendore
House Florent
House Mertyns
House Boggs
House Woods
House Inchfield
House Blackmont
House Pemford
House Kenning of Harlaw
House Shepherd
House Estermont
House Wynch
House Staedmon
House Seaworth
City Watch of King's Landing
House Cockshaw
House Graceford
House Stackspear
House Haigh
House Jast
House Farring
House Celtigar
House of Ghazeen
House Byrch
House Hawick
House Belmore
House Broom
House Brune of Brownhollow
House Cassel
House Rosby
House Harlaw of Harridan Hill
House Cuy
House Caron
House Cerwyn
House Vaith
House Vance
House Shett of Gull Tower
House Vypren
House Marbrand
House Hardyng
House Allyrion
House Locke
House Bar Emmon
House Mooton
House Norridge
House Hunter
House Hayford
House Glover
House Brune of the Dyre Den
House Prester
House Fowler
House Goodbrook
House Greenfield
House Gower
Blacks
House Hewett
House Borrell
House Peake
Citadel
Wise Masters
Good Masters
House Sunglass
House Grimm
The Citadel
House Mollen
House Hoare
House Rambton
House Harlaw of the Tower of Glimmering
House Wull
House Wagstaff
House Vyrwel
House Darry
House Lydden
House Bettley
House Myre
House Mormont
House Reed
House Kenning of Kayce
House of Pahl
House Turnberry
House Blackbar
House Woolfield
House Fossoway
House Mallery
House Chyttering
House Flint of Widow's Watch
House Lychester
House Vikary
House Selmy
House Volmark
House Merlyn
House Crane
House Sarsfield
House of Merreq
House Chester
House Jordayne
Iron Bank of Braavos
House Goodbrother of Shatterstone
House Toland
House Baratheon of King's Landing
House Yronwood
House Kettleblack
House Wythers
House Norrey
House Foote
House Chelsted
House Banefort
House Ball
House Cox
House Ruttiger
House Estren
House Rykker
House Longwaters
House Thorne
House Moreland
House Flint
House Hogg
House Longthorpe
House Coldwater
House Leek
House Farman
House Harlaw of Harlaw Hall
House Templeton
House Wells
House Toyne
House Liddle
House Gargalen
House Mudd
House Farwynd
House Sunderland
House Hetherspoon
House Uller
House Wayn
House Tollett
House Poole
Maesters
House Blanetree
House Blount
Golden Company
Company of the Cat
House Suggs
Khal
House Nymeros Martell
House Drinkwater
House Harlaw of Grey Garden
Summer Islands
House Condon
House Lannister of Casterly Rock
House Moore
House Trant
House Yarwyck
Undying Ones
House Stonehouse
House Bolton of the Dreadfort
Thenn
House Hasty
House Cole
Graces
House Tyrell of Brightwater Keep
House Dayne of High Hermitage
Unsullied
House Strickland
House Bywater
House Massey
Brotherhood without Banners
House Rhysling
House Potter
House Horpe
House of Kandaq
House of Reznak
House Peckledon
House Dustin
Mance Rayder
House Egen
House Merryweather
House Errol
Thirteen
House Erenford
House Grell
brotherhood without banners
Three-eyed crow

In [466]:
culture = character_predictions[['culture']].drop_duplicates().dropna().reset_index(drop=True)

In [467]:
for i in culture['culture']:
    print(i)

Rivermen
Dornish
Valyrian
Ironborn
Free Folk
Northmen
Summer Isles
Braavosi
Dothraki
Ghiscari
Vale mountain clans
Reach
Tyroshi
Lhazarene
Free folk
Ironmen
Qartheen
Lysene
westermen
Westerman
Qarth
Lyseni
northmen
Qohor
Westeros
Norvoshi
First Men
Meereenese
Andal
Astapori
Westermen
ironborn
Ghiscaricari
Braavos
Stormlands
Valemen
Myrish
Lhazareen
Dornishmen
Sistermen
Northern mountain clans
Andals
Vale
Crannogmen
Wildling
Dorne
Pentoshi
free folk
Summer Islander
Westerlands
Summer Islands
Asshai
Riverlands
Naathi
Rhoynar
Meereen
Norvos
Stormlander
Wildlings
Astapor
Reachmen
Asshai'i
Ibbenese
The Reach

In [468]:
character_predictions.drop_duplicates(inplace=True)

In [469]:
character_predictions.dropna(how='all', inplace=True)

In [470]:
#character_predictions.fillna('unknown', inplace=True)

In [471]:
sort = character_predictions.sort_values(by='culture').reset_index(drop=True)

In [472]:
#sort['location'] = ''
sort['origin'] = ''

In [473]:
sort

      culture                        house origin
0       Andal                          NaN
1      Andals                          NaN
2      Asshai                      R'hllor
3      Asshai                          NaN
4    Asshai'i                          NaN
..        ...                          ...    ...
482       NaN               House Erenford
483       NaN                  House Grell
484       NaN  brotherhood without banners
485       NaN                      R'hllor
486       NaN              Three-eyed crow

[487 rows x 3 columns]

In [474]:
sort.to_csv('../features_for_quiz/origins.txt', index=False)

In [439]:
checking = pd.read_csv('../raw_data/character-predictions.csv')

In [440]:
checking

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1942,0,1,0.803,0.197,Luwin,NaN,1,Westeros,NaN,...,NaN,NaN,0,0,NaN,0,0,1,0.351171,0
1942,1943,0,1,0.987,0.013,Reek,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.096990,0
1943,1944,1,1,0.520,0.480,Symeon Star-Eyes,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.030100,1
1944,1945,1,1,0.637,0.363,Coldhands,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.130435,1
1945,1946,0,0,0.093,0.907,Tytos Lannister,Casterly Rock,1,NaN,220.0,...,NaN,1.0,1,1,47.0,4,1,0,0.210702,0

In [516]:
checking.loc[(checking['culture'] == 'Westeros') & (checking['house'].isna())]

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
635,636,0,0,0.002,0.998,Jeyne Waters,NaN,1,Westeros,171.0,...,NaN,NaN,0,0,100.0,0,0,0,0.073579,0
1907,1908,0,0,0.295,0.705,Mycah,NaN,1,Westeros,285.0,...,NaN,NaN,0,0,13.0,0,0,0,0.103679,0

In [97]:
dead.value_counts()

Allegiance
House Lannister                      835
None                                 432
House Stark                          121
Free Folk                            121
Night's Watch                         79
House Targaryen                       68
House Bolton                          68
Sons of the Harpy                     68
House Baratheon of Dragonstone        67
House Frey                            62
Faith Militant                        52
Smallfolk                             44
House Greyjoy                         41
Dothraki                              23
House Baratheon of King's Landing     22
The Masters                           14
The Thirteen                          12
Wise Masters                          12
Brotherhood Without Banners           10
House Martell                          8
House Mormont                          8
Good Masters                           7
House Baelish                          6
Great Masters                          6
Children of the Forest                 6
House Tyrell                           4
White Walkers                          3
Sand Snakes                            3
House Arryn                            3
House Baratheon of Storm's End         3
House Clegane                          3
House Umber                            2
Second Sons                            2
Faith of the Seven                     2
Lord of Light                          1
Order of Maesters                      1
House Tully                            1
Faceless Men                           1
Warlocks of Qarth                      1
House Moore                            1
House Hollard                          1
dtype: int64