In [174]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

data = pd.read_csv('../raw_data/merged_dataframe.csv')

In [175]:
data.columns

Index(['Character_Name', 'Culture', 'Born', 'Died', 'Character_Titles',
       'Aliases', 'Father', 'Mother', 'Spouse', 'Allegiances', 'Books',
       'POV Books', 'TV Series', 'Played By', 'Character_Number',
       'Most_Common_Allegiance', 'First_Allegiance_Number', 'House_Allegiance',
       'House_Region', 'Coat of Arms', 'Words', 'Titles_y', 'Seats',
       'Current Lord', 'Heir', 'Overlord', 'Founded', 'Founder', 'Died Out',
       'Ancestral Weapons', 'Cadet Branches', 'Sworn Members',
       'Overloard_Number', 'Overlord_Name'],
      dtype='object')

In [176]:
data.drop(columns=['Born','Died','Character_Titles','Aliases','Father', 'Mother', 'Spouse','Allegiances', 'Books',
       'POV Books', 'TV Series', 'Played By','Words', 'Titles_y', 'Seats', 'Current Lord', 'Heir', 'Overlord','Founded',
       'Founder', 'Died Out','Cadet Branches', 'Sworn Members','Coat of Arms','Ancestral Weapons'],inplace=True)

In [177]:
data.set_index('Character_Number',inplace=True)

In [178]:
data.rename(columns={'First_Allegiance_Number':'Allegiance_Number'},inplace=True)

In [179]:
rows_without_character_name = data[data['Character_Name'].isnull()]
rows_without_character_name

#drop rows without character name
data.dropna(subset=['Character_Name'],inplace=True)

In [180]:
data.reset_index(drop=True, inplace=True)
data.head()

,Character_Name,Culture,Most_Common_Allegiance,Allegiance_Number,House_Allegiance,House_Region,Overloard_Number,Overlord_Name
0,Walder,NaN,House Stark of Winterfell,362.0,House Stark of Winterfell,The North,16.0,House Baratheon of King's Landing
1,Balon Greyjoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chayle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gillam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,High Septon,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
result = pd.DataFrame(data.groupby('Overlord_Name')['Culture'].unique())
result

                                                                                 Culture
Overlord_Name
House Arryn of the Eyrie                                 [nan, Valemen, Andal, Braavosi]
House Baelish of Harrenhal                                     [nan, Rivermen, Westeros]
House Baratheon of Dragonstone                                [nan, Valyrian, Free folk]
House Baratheon of King's Landing      [nan, Westeros, Stormlands, Ironborn, Valyrian...
House Baratheon of Storm's End                     [Valyrian, nan, Westeros, Stormlands]
House Bolton of the Dreadfort                                            [Northmen, nan]
House Cerwyn of Cerwyn                                                             [nan]
House Darklyn of Duskendale                                                        [nan]
House Dayne of Starfall                                                        [Dornish]
House Dustin of Barrowton                                                     [Northmen]
House Farman of Faircastle                                                         [nan]
House Frey of the Crossing                                                         [nan]
House Glover of Deepwood Motte                                                [Northmen]
House Greyjoy of Pyke                                                    [Ironborn, nan]
House Harlaw of Harlaw                                                        [Ironborn]
House Hayford of Hayford                                                           [nan]
House Hightower of the Hightower                                                   [nan]
House Lannister of Casterly Rock                   [nan, Westerman, Westeros, First Men]
House Nymeros Martell of Sunspear                               [nan, Dornish, Valyrian]
House Rowan of Goldengrove                                               [nan, Ironborn]
House Royce of Runestone                                                  [nan, Valemen]
House Stark of Winterfell              [Northmen, Northern mountain clans, Rivermen, ...
House Sunderland of the Three Sisters                                   [Sistermen, nan]
House Sunglass of Sweetport Sound                                                  [nan]
House Targaryen of King's Landing                       [Valyrian, nan, Tyroshi, Myrish]
House Tarly of Horn Hill                                                           [nan]
House Tully of Riverrun                                                  [nan, Rivermen]
House Tyrell of Highgarden                                   [nan, Reach, Andal, Myrish]
House Vance of Wayfarer's Rest                                                     [nan]
House Waynwood of Ironoaks                                                         [nan]
House Yronwood of Yronwood                                                     [Dornish]

In [188]:
character_without_overlord = data[data['Overlord_Name'].isnull()]['Character_Name']
character_without_overlord_count = len(character_without_overlord)
character_without_overlord_count

839

In [190]:
data[data['Overlord_Name'].isnull()]

,Character_Name,Culture,Most_Common_Allegiance,Allegiance_Number,House_Allegiance,House_Region,Overloard_Number,Overlord_Name
1,Balon Greyjoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chayle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gillam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,High Septon,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Melicent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2119,Zei,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2120,Zekko,Dothraki,NaN,NaN,NaN,NaN,NaN,NaN
2121,Zharaq zo Loraq,Ghiscari,NaN,NaN,NaN,NaN,NaN,NaN
2122,Zollo,Dothraki,NaN,NaN,NaN,NaN,NaN,NaN
2123,Criston Cole,Stormlands,House Cole,77.0,House Cole,The Stormlands,NaN,NaN